n8n-workflows/ai-booking-notification.json
{
  "name": "AI Уведомление о бронировании",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-created",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-booking",
      "name": "Webhook: Новое бронирование",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "booking-created"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты - менеджер яхт-клуба 'В Море'. Составь краткое уведомление для администратора о новом бронировании. Формат: деловой, но дружелюбный. Укажи ВСЕ переданные данные (имя, телефон, яхту, дату, часы, сумму). Используй эмодзи. Пиши на русском. НЕ используй плейсхолдеры в квадратных скобках.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Новое бронирование:\\n- Клиент: {{ $json.body.data.customerName }}\\n- Телефон: {{ $json.body.data.customerPhone }}\\n- Яхта: {{ $json.body.data.boatName }}\\n- Дата: {{ $json.body.data.startDate }}\\n- Часов: {{ $json.body.data.hours }}\\n- Сумма: {{ $json.body.data.totalPrice }} руб.\\n\\nСоставь уведомление для администратора с этими конкретными данными.\"\n    }\n  ],\n  \"max_tokens\": 400,\n  \"temperature\": 0.6\n}",
        "options": {}
      },
      "id": "ai-generate-admin-msg",
      "name": "AI: Сообщение для админа",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openrouter-auth",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1231157381",
        "text": "={{ $json.choices[0].message.content }}\n\n━━━━━━━━━━━━━━━\n📋 ID: {{ $('Webhook: Новое бронирование').item.json.body.data.bookingId }}\n📞 Связаться: {{ $('Webhook: Новое бронирование').item.json.body.data.customerPhone }}\n\n⏳ Статус: Ожидает подтверждения",
        "additionalFields": {
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": [
                  {
                    "text": "✅ Подтвердить",
                    "additionalFields": {
                      "callback_data": "=confirm_{{ $('Webhook: Новое бронирование').item.json.body.data ? $('Webhook: Новое бронирование').item.json.body.data.bookingId : ($('Webhook: Новое бронирование').item.json.body.bookingId || '') }}"
                    }
                  },
                  {
                    "text": "❌ Отклонить",
                    "additionalFields": {
                      "callback_data": "=cancel_{{ $('Webhook: Новое бронирование').item.json.body.data ? $('Webhook: Новое бронирование').item.json.body.data.bookingId : ($('Webhook: Новое бронирование').item.json.body.bookingId || '') }}"
                    }
                  }
                ]
              },
              {
                "row": [
                  {
                    "text": "📞 Позвонить клиенту",
                    "additionalFields": {
                      "url": "=tel:{{ $('Webhook: Новое бронирование').item.json.body.data ? $('Webhook: Новое бронирование').item.json.body.data.customerPhone : ($('Webhook: Новое бронирование').item.json.body.customerPhone || '') }}"
                    }
                  }
                ]
              }
            ]
          }
        }
      },
      "id": "telegram-admin",
      "name": "Telegram: Админу",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [620, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"AI notification sent\" } }}"
      },
      "id": "respond-webhook",
      "name": "Ответ Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [840, 300]
    }
  ],
  "connections": {
    "Webhook: Новое бронирование": {
      "main": [
        [
          {
            "node": "AI: Сообщение для админа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Сообщение для админа": {
      "main": [
        [
          {
            "node": "Telegram: Админу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Админу": {
      "main": [
        [
          {
            "node": "Ответ Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["booking", "notification", "ai"],
  "triggerCount": 0,
  "updatedAt": "2026-01-21T16:00:00.000Z",
  "versionId": "3"
}
