n8n-workflows/simple-test-webhook.json
{
  "name": "Простой тестовый webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "test-booking"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Webhook received\", \"data\": $json } }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"TelegramLog\" (\"id\", \"updateId\", \"updateType\", \"payload\", \"createdAt\") VALUES (gen_random_uuid()::text, 'webhook-test', 'n8n.webhook', $1::jsonb, NOW()) RETURNING id",
        "additionalFields": {
          "queryParameters": "={{ JSON.stringify($json) }}"
        }
      },
      "id": "save-to-db",
      "name": "Сохранить в БД",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Сохранить в БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить в БД": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-15T10:00:00.000Z",
  "versionId": "1"
}
